jobs/nifi/k8s-kafka-flow.json
{"flowContents":{"identifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5","instanceIdentifier":"51a4c3cf-019c-1000-aba7-599ddff06f13","name":"k8s-kafka-flow","comments":"","position":{"x":-384.0,"y":-40.0},"processGroups":[{"identifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","instanceIdentifier":"e6f72391-2a0f-350b-81c5-20d63c6a6950","name":"dataKafkaStreaming","comments":"","position":{"x":-1000.0,"y":-600.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4327c6c1-019c-1000-f7c7-f138acfad6fb","instanceIdentifier":"68b21c4e-5b19-34b7-0096-03686061d8a9","name":"PutFile","comments":"","position":{"x":734.1949495759688,"y":266.1715166830593},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-insertkafka.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6ba-019c-1000-e10b-0d31182b328e","instanceIdentifier":"9a7d59ae-9e15-34d2-e74a-4ac38088938e","name":"PublishVoiceRecordToKafka","comments":"","position":{"x":712.0,"y":48.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.1"},"properties":{"compression.type":"none","acks":"1","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":"nifi-cdr-tx-${hostname()}","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"data-bronze-cdr","Kafka Key":null,"partition":null,"Kafka Connection Service":"108d21df-692e-3da5-a508-72c0255c893c","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bf-019c-1000-612c-b6a4570e41ee","instanceIdentifier":"af7f2a61-1a3a-3869-b767-9b6d9f0c5108","name":"UpdateAttribute","comments":"","position":{"x":57.582858511515724,"y":-154.06027958158916},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.1"},"properties":{"Delete Attributes Expression":null,"event_type":"cdr_data","Store State":"Do not store state","event.source":"nifi","event.ingest_ts":"${now():toNumber()}","kafka.topic":"data-bronze-cdr","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"kafka.key":"${session_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_type":{"name":"event_type","displayName":"event_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event.source":{"name":"event.source","displayName":"event.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"event.ingest_ts":{"name":"event.ingest_ts","displayName":"event.ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6b9-019c-1000-cc32-8491b652961f","instanceIdentifier":"a35347ba-8a57-3927-e8db-311fc54cf1dc","name":"SplitRecord","comments":"","position":{"x":72.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"51a68c25-019c-1000-9f63-2f02cfcb9079","instanceIdentifier":"2832de01-3c43-3b2a-b329-01ea8d12eeef","name":"ListDataCDRsFile","comments":"","position":{"x":-1672.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.ListSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Minimum File Age":"0 sec","Entity Tracking Initial Listing Target":"all","Ignore Dotted Files":"true","Entity Tracking State Cache":null,"Port":"2222","Ciphers Allowed":null,"Proxy Configuration Service":null,"Connection Timeout":"30 sec","Follow Symbolic Links":"false","Path Filter Regex":null,"Record Writer":null,"Minimum File Size":"0 B","Search Recursively":"false","Entity Tracking Time Window":"3 hours","Strict Host Key Checking":"false","File Filter Regex":"data.*","Maximum File Age":null,"Hostname":"fileserver.app.svc.cluster.local","Maximum File Size":null,"Remote Path":"/upload","Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Data Timeout":"30 sec","Private Key Path":null,"Target System Timestamp Precision":"auto-detect","Username":"foo","Algorithm Negotiation":"DEFAULT","Key Exchange Algorithms Allowed":null,"Listing Strategy":"timestamps","Key Algorithms Allowed":null},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Follow Symbolic Links":{"name":"Follow Symbolic Links","displayName":"Follow Symbolic Links","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c2-019c-1000-3ed4-d15c49be7576","instanceIdentifier":"a7dc2f38-2951-3e26-727d-d9917fa8054c","name":"PutFile","comments":"","position":{"x":721.5828585115157,"y":-394.06027958158916},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-spliting.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bb-019c-1000-5788-feb291337e6f","instanceIdentifier":"dd187fad-a711-35c3-b937-85ae2fd6fc9d","name":"UpdateRecord","comments":"","position":{"x":72.0,"y":56.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"/filename":"${filename}","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Replacement Value Strategy":"literal-value","/ingest_ts":"${event.ingest_ts}"},"propertyDescriptors":{"/filename":{"name":"/filename","displayName":"/filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ingest_ts":{"name":"/ingest_ts","displayName":"/ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bc-019c-1000-80e8-2888714970e9","instanceIdentifier":"52c65d26-8c08-3703-5656-9409e9296bd6","name":"PutFile","comments":"","position":{"x":64.0,"y":288.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-newpair.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"51a68c24-019c-1000-4548-e16030c396a2","instanceIdentifier":"83890bd9-aff9-3c4d-3c07-eedc889eb997","name":"FetchDataCdrsFile","comments":"","position":{"x":-1024.0,"y":-592.0},"type":"org.apache.nifi.processors.standard.FetchSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Port":"2222","Remote File":"${path}/${filename}","Log Level When File Not Found":"ERROR","Hostname":"fileserver.app.svc.cluster.local","Create Directory":"false","Host Key File":null,"Use Compression":"false","Ciphers Allowed":null,"Message Authentication Codes Allowed":null,"Disable Directory Listing":"false","Send Keep Alive On Timeout":"true","Completion Strategy":"None","Proxy Configuration Service":null,"Connection Timeout":"30 sec","Data Timeout":"30 sec","Private Key Path":null,"Username":"foo","Move Destination Directory":null,"Algorithm Negotiation":"DEFAULT","Key Exchange Algorithms Allowed":null,"Strict Host Key Checking":"false","Key Algorithms Allowed":null},"propertyDescriptors":{"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level When File Not Found":{"name":"Log Level When File Not Found","displayName":"Log Level When File Not Found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bd-019c-1000-364a-0d375b9b0f76","instanceIdentifier":"1a719620-beff-3cd9-a801-463bacf24844","name":"PutFile","comments":"","position":{"x":-526.4171414884843,"y":-98.06027958158916},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-convertion.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c0-019c-1000-297d-0545715327aa","instanceIdentifier":"73a625ee-0938-340d-729b-1b7eb93aa638","name":"ConvertRecord","comments":"","position":{"x":-502.4171414884843,"y":-394.06027958158916},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4327c6c9-019c-1000-e050-0455de7afd61","instanceIdentifier":"f77f333e-e046-33de-b269-fc0572b87558","name":"","source":{"id":"4327c6b9-019c-1000-cc32-8491b652961f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"SplitRecord","comments":"","instanceIdentifier":"a35347ba-8a57-3927-e8db-311fc54cf1dc"},"destination":{"id":"4327c6c2-019c-1000-3ed4-d15c49be7576","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"a7dc2f38-2951-3e26-727d-d9917fa8054c"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c7-019c-1000-11fc-ca17f9be5b90","instanceIdentifier":"56d8b1f4-4df4-3cc4-99b2-04981b6a8b4a","name":"","source":{"id":"4327c6ba-019c-1000-e10b-0d31182b328e","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"9a7d59ae-9e15-34d2-e74a-4ac38088938e"},"destination":{"id":"4327c6c1-019c-1000-f7c7-f138acfad6fb","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"68b21c4e-5b19-34b7-0096-03686061d8a9"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"3c786b95-35cd-3844-bd95-1143afc85f3d","instanceIdentifier":"51a71b70-019c-1000-e9f6-71ed30651782","name":"","source":{"id":"51a68c24-019c-1000-4548-e16030c396a2","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"FetchDataCdrsFile","comments":"","instanceIdentifier":"83890bd9-aff9-3c4d-3c07-eedc889eb997"},"destination":{"id":"4327c6c0-019c-1000-297d-0545715327aa","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"ConvertRecord","comments":"","instanceIdentifier":"73a625ee-0938-340d-729b-1b7eb93aa638"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"551acef5-eb18-3972-88c0-ea59a0a0de3b","instanceIdentifier":"51a70a9d-019c-1000-c352-3233c0bebb43","name":"","source":{"id":"51a68c25-019c-1000-9f63-2f02cfcb9079","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"ListDataCDRsFile","comments":"","instanceIdentifier":"2832de01-3c43-3b2a-b329-01ea8d12eeef"},"destination":{"id":"51a68c24-019c-1000-4548-e16030c396a2","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"FetchDataCdrsFile","comments":"","instanceIdentifier":"83890bd9-aff9-3c4d-3c07-eedc889eb997"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c8-019c-1000-c4bd-108d15546a0d","instanceIdentifier":"91f9d73d-f7eb-3bb4-fd85-0c69dfc1dfcb","name":"","source":{"id":"4327c6bf-019c-1000-612c-b6a4570e41ee","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateAttribute","comments":"","instanceIdentifier":"af7f2a61-1a3a-3869-b767-9b6d9f0c5108"},"destination":{"id":"4327c6bb-019c-1000-5788-feb291337e6f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateRecord","comments":"","instanceIdentifier":"dd187fad-a711-35c3-b937-85ae2fd6fc9d"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c5-019c-1000-6162-a9d0c1485d45","instanceIdentifier":"3a18eff7-0402-31c5-24af-b970162a7d67","name":"","source":{"id":"4327c6c0-019c-1000-297d-0545715327aa","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"ConvertRecord","comments":"","instanceIdentifier":"73a625ee-0938-340d-729b-1b7eb93aa638"},"destination":{"id":"4327c6bd-019c-1000-364a-0d375b9b0f76","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"1a719620-beff-3cd9-a801-463bacf24844"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c4-019c-1000-3a2c-5a1d259b6853","instanceIdentifier":"dad21142-5223-3065-deb1-e1374c74e6c1","name":"","source":{"id":"4327c6c0-019c-1000-297d-0545715327aa","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"ConvertRecord","comments":"","instanceIdentifier":"73a625ee-0938-340d-729b-1b7eb93aa638"},"destination":{"id":"4327c6b9-019c-1000-cc32-8491b652961f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"SplitRecord","comments":"","instanceIdentifier":"a35347ba-8a57-3927-e8db-311fc54cf1dc"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c3-019c-1000-28b6-55a35a7f6d4b","instanceIdentifier":"7009a2c8-f295-3d7f-d15b-993a78f43e46","name":"","source":{"id":"4327c6b9-019c-1000-cc32-8491b652961f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"SplitRecord","comments":"","instanceIdentifier":"a35347ba-8a57-3927-e8db-311fc54cf1dc"},"destination":{"id":"4327c6bf-019c-1000-612c-b6a4570e41ee","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateAttribute","comments":"","instanceIdentifier":"af7f2a61-1a3a-3869-b767-9b6d9f0c5108"},"labelIndex":0,"zIndex":6,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6ca-019c-1000-145e-8d3e7dd9696f","instanceIdentifier":"ed5e2282-7527-3c6f-efd2-525a6ef418e8","name":"","source":{"id":"4327c6bb-019c-1000-5788-feb291337e6f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateRecord","comments":"","instanceIdentifier":"dd187fad-a711-35c3-b937-85ae2fd6fc9d"},"destination":{"id":"4327c6ba-019c-1000-e10b-0d31182b328e","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"9a7d59ae-9e15-34d2-e74a-4ac38088938e"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c6-019c-1000-80ca-dd343954b0c1","instanceIdentifier":"dfe6e561-08ff-3f79-eebe-1bc8045cc8e1","name":"","source":{"id":"4327c6bb-019c-1000-5788-feb291337e6f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateRecord","comments":"","instanceIdentifier":"dd187fad-a711-35c3-b937-85ae2fd6fc9d"},"destination":{"id":"4327c6bc-019c-1000-80e8-2888714970e9","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"52c65d26-8c08-3703-5656-9409e9296bd6"},"labelIndex":0,"zIndex":14,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"},{"identifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","instanceIdentifier":"5f032011-ef4c-3d2d-61b0-84f69c81d95a","name":"voiceKafkaStreaming","comments":"","position":{"x":-992.0,"y":-128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"43005a18-019c-1000-029b-396c0f193e76","instanceIdentifier":"66809d98-e319-36b9-0993-7207cc0825e9","name":"PutFile","comments":"","position":{"x":683.8890078584559,"y":-387.94444241777103},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-spliting.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a13-019c-1000-d991-b3b71acdaa05","instanceIdentifier":"e747571e-680a-3ea8-42d1-1c918a94b9c0","name":"PutFile","comments":"","position":{"x":-564.1109921415441,"y":-91.94444241777103},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-convertion.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a17-019c-1000-70ab-ec7122ec6f22","instanceIdentifier":"1bdfc690-a844-3d32-4e22-171274633537","name":"PutFile","comments":"","position":{"x":603.8890078584559,"y":260.05555758222897},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-insertkafka.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a15-019c-1000-f66a-01560efb89c6","instanceIdentifier":"f69ec48b-1ad1-31ee-d0df-9b52ecc2ede3","name":"UpdateAttribute","comments":"","position":{"x":19.889007858455898,"y":-147.94444241777103},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.1"},"properties":{"Delete Attributes Expression":null,"event_type":"cdr_voice","Store State":"Do not store state","event.source":"nifi","event.ingest_ts":"${now():toNumber()}","kafka.topic":"data_cdr","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"kafka.key":"${session_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_type":{"name":"event_type","displayName":"event_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event.source":{"name":"event.source","displayName":"event.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"event.ingest_ts":{"name":"event.ingest_ts","displayName":"event.ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a0f-019c-1000-7d80-b83da0e46e79","instanceIdentifier":"c1d55e4b-716f-3a39-9f7d-38c4e5be3fa9","name":"SplitRecord","comments":"","position":{"x":35.8890078584559,"y":-379.94444241777103},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a11-019c-1000-ee81-412681ad75f1","instanceIdentifier":"b167200b-bb3e-37c0-4ecd-8b4c3c1be6b2","name":"UpdateRecord","comments":"","position":{"x":27.889007858455898,"y":44.05555758222897},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"/filename":"${filename}","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Replacement Value Strategy":"literal-value","/ingest_ts":"${event.ingest_ts}"},"propertyDescriptors":{"/filename":{"name":"/filename","displayName":"/filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ingest_ts":{"name":"/ingest_ts","displayName":"/ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a12-019c-1000-1445-acded717e3b1","instanceIdentifier":"0dc7f8c6-7b2c-3edf-3140-8891cdcb4207","name":"PutFile","comments":"","position":{"x":11.889007858455898,"y":260.05555758222897},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-newpair.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a16-019c-1000-b9b0-43276f16af4c","instanceIdentifier":"0b6309f8-563d-30d0-2874-5f69573ec7c9","name":"ConvertRecord","comments":"","position":{"x":-540.1109921415441,"y":-387.94444241777103},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a10-019c-1000-885a-65074c54cdc6","instanceIdentifier":"0f8816b5-404a-3f90-8136-d7216b71dc40","name":"PublishVoiceRecordToKafka","comments":"","position":{"x":771.8890078584559,"y":-19.94444241777103},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.1"},"properties":{"compression.type":"none","acks":"1","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":"nifi-cdr-tx-${hostname()}","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"voice-bronze-cdr","Kafka Key":null,"partition":null,"Kafka Connection Service":"108d21df-692e-3da5-a508-72c0255c893c","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"51a5139d-019c-1000-47a7-bad0e8118b74","instanceIdentifier":"72f6bb8b-f587-3560-4e49-c3d183c768af","name":"FetchVoiceCdrsFile","comments":"","position":{"x":-1064.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.FetchSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Port":"2222","Remote File":"${path}/${filename}","Log Level When File Not Found":"ERROR","Hostname":"fileserver.app.svc.cluster.local","Create Directory":"false","Host Key File":null,"Use Compression":"false","Ciphers Allowed":null,"Message Authentication Codes Allowed":null,"Disable Directory Listing":"false","Send Keep Alive On Timeout":"true","Completion Strategy":"None","Proxy Configuration Service":null,"Connection Timeout":"30 sec","Data Timeout":"30 sec","Private Key Path":null,"Username":"foo","Move Destination Directory":null,"Algorithm Negotiation":"DEFAULT","Key Exchange Algorithms Allowed":null,"Strict Host Key Checking":"false","Key Algorithms Allowed":null},"propertyDescriptors":{"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level When File Not Found":{"name":"Log Level When File Not Found","displayName":"Log Level When File Not Found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"51a5139e-019c-1000-d006-ece492ee1cf5","instanceIdentifier":"b6f381fa-01da-343c-7577-2b029de44406","name":"ListVoiceCDRsFile","comments":"","position":{"x":-1608.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.ListSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Minimum File Age":"0 sec","Entity Tracking Initial Listing Target":"all","Ignore Dotted Files":"true","Entity Tracking State Cache":null,"Port":"2222","Ciphers Allowed":null,"Proxy Configuration Service":null,"Connection Timeout":"30 sec","Follow Symbolic Links":"false","Path Filter Regex":null,"Record Writer":null,"Minimum File Size":"0 B","Search Recursively":"false","Entity Tracking Time Window":"3 hours","Strict Host Key Checking":"false","File Filter Regex":"voice.*","Maximum File Age":null,"Hostname":"fileserver.app.svc.cluster.local","Maximum File Size":null,"Remote Path":"/upload","Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Data Timeout":"30 sec","Private Key Path":null,"Target System Timestamp Precision":"auto-detect","Username":"foo","Algorithm Negotiation":"DEFAULT","Key Exchange Algorithms Allowed":null,"Listing Strategy":"timestamps","Key Algorithms Allowed":null},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Follow Symbolic Links":{"name":"Follow Symbolic Links","displayName":"Follow Symbolic Links","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"47948b5c-d5e9-3079-b894-68b356fed8be","instanceIdentifier":"2a8ab150-96df-3369-9d11-b3baef3486ec","name":"","source":{"id":"43005a16-019c-1000-b9b0-43276f16af4c","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"ConvertRecord","comments":"","instanceIdentifier":"0b6309f8-563d-30d0-2874-5f69573ec7c9"},"destination":{"id":"43005a0f-019c-1000-7d80-b83da0e46e79","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"SplitRecord","comments":"","instanceIdentifier":"c1d55e4b-716f-3a39-9f7d-38c4e5be3fa9"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1c-019c-1000-494f-d6a5aaad9670","instanceIdentifier":"9fa0b0ca-a4dd-3e40-2cb0-eb8c271a308b","name":"","source":{"id":"43005a0f-019c-1000-7d80-b83da0e46e79","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"SplitRecord","comments":"","instanceIdentifier":"c1d55e4b-716f-3a39-9f7d-38c4e5be3fa9"},"destination":{"id":"43005a18-019c-1000-029b-396c0f193e76","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"66809d98-e319-36b9-0993-7207cc0825e9"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"636846e4-074e-3ef0-8033-e42c1f21e90c","instanceIdentifier":"f2b6da79-1518-343b-2555-aa8cbd1ed84a","name":"","source":{"id":"43005a15-019c-1000-f66a-01560efb89c6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateAttribute","comments":"","instanceIdentifier":"f69ec48b-1ad1-31ee-d0df-9b52ecc2ede3"},"destination":{"id":"43005a11-019c-1000-ee81-412681ad75f1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateRecord","comments":"","instanceIdentifier":"b167200b-bb3e-37c0-4ecd-8b4c3c1be6b2"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1a-019c-1000-a57e-a1c903f838fb","instanceIdentifier":"c2d6ab71-0c58-3466-7dc1-c882e248dfe3","name":"","source":{"id":"43005a16-019c-1000-b9b0-43276f16af4c","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"ConvertRecord","comments":"","instanceIdentifier":"0b6309f8-563d-30d0-2874-5f69573ec7c9"},"destination":{"id":"43005a13-019c-1000-d991-b3b71acdaa05","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"e747571e-680a-3ea8-42d1-1c918a94b9c0"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"24b3d201-81c9-3233-a5b8-eb6e2fbda29e","instanceIdentifier":"fba80c05-065a-3d79-3662-1c590b166750","name":"","source":{"id":"43005a11-019c-1000-ee81-412681ad75f1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateRecord","comments":"","instanceIdentifier":"b167200b-bb3e-37c0-4ecd-8b4c3c1be6b2"},"destination":{"id":"43005a12-019c-1000-1445-acded717e3b1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"0dc7f8c6-7b2c-3edf-3140-8891cdcb4207"},"labelIndex":0,"zIndex":17,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1b-019c-1000-73bc-f7e12bf41f9f","instanceIdentifier":"f0cb2005-de32-3e1b-8ac3-a8442c906f61","name":"","source":{"id":"43005a10-019c-1000-885a-65074c54cdc6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"0f8816b5-404a-3f90-8136-d7216b71dc40"},"destination":{"id":"43005a17-019c-1000-70ab-ec7122ec6f22","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"1bdfc690-a844-3d32-4e22-171274633537"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a19-019c-1000-0cdd-5c0e324ef761","instanceIdentifier":"64f07a06-a134-36c9-21e8-ce85b818fff8","name":"","source":{"id":"43005a0f-019c-1000-7d80-b83da0e46e79","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"SplitRecord","comments":"","instanceIdentifier":"c1d55e4b-716f-3a39-9f7d-38c4e5be3fa9"},"destination":{"id":"43005a15-019c-1000-f66a-01560efb89c6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateAttribute","comments":"","instanceIdentifier":"f69ec48b-1ad1-31ee-d0df-9b52ecc2ede3"},"labelIndex":0,"zIndex":6,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"8e17d0a4-1229-3206-8445-588b049da560","instanceIdentifier":"51a54ef6-019c-1000-7d99-b59f44f03385","name":"","source":{"id":"51a5139d-019c-1000-47a7-bad0e8118b74","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"FetchVoiceCdrsFile","comments":"","instanceIdentifier":"72f6bb8b-f587-3560-4e49-c3d183c768af"},"destination":{"id":"43005a16-019c-1000-b9b0-43276f16af4c","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"ConvertRecord","comments":"","instanceIdentifier":"0b6309f8-563d-30d0-2874-5f69573ec7c9"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1d-019c-1000-f1dd-c3ca97acf75c","instanceIdentifier":"5636400a-0583-376c-7f36-3c762b6538a3","name":"","source":{"id":"43005a11-019c-1000-ee81-412681ad75f1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateRecord","comments":"","instanceIdentifier":"b167200b-bb3e-37c0-4ecd-8b4c3c1be6b2"},"destination":{"id":"43005a10-019c-1000-885a-65074c54cdc6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"0f8816b5-404a-3f90-8136-d7216b71dc40"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"0c9aef45-1e7c-385f-b471-d14606b19a1f","instanceIdentifier":"51a53bc8-019c-1000-d664-e0e3678b4953","name":"","source":{"id":"51a5139e-019c-1000-d006-ece492ee1cf5","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"ListVoiceCDRsFile","comments":"","instanceIdentifier":"b6f381fa-01da-343c-7577-2b029de44406"},"destination":{"id":"51a5139d-019c-1000-47a7-bad0e8118b74","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"FetchVoiceCdrsFile","comments":"","instanceIdentifier":"72f6bb8b-f587-3560-4e49-c3d183c768af"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"},{"identifier":"4387d674-019c-1000-0d1a-db74be548dab","instanceIdentifier":"6455349f-cf2d-3a0c-5a0d-b1ea61f58b11","name":"TowerKafkaStreaming","comments":"","position":{"x":-512.0,"y":-544.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4387d67d-019c-1000-c7d8-aa5a7d80f328","instanceIdentifier":"a5810aa0-5c7b-372c-48a8-818ae5dea761","name":"PutFile","comments":"","position":{"x":-526.4171414884843,"y":-98.06027958158916},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-convertion.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d67a-019c-1000-f1c5-7476abf42919","instanceIdentifier":"8cfd853f-4807-3266-9241-53b35259aba3","name":"GetTowerReferentielFile","comments":"","position":{"x":-1048.0,"y":-392.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"/opt/nifi/nifi-data/cdr_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"cell_tower.*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d675-019c-1000-26c2-f4039b63d97e","instanceIdentifier":"e25da0b3-a7f3-3119-2f13-b342ced09985","name":"PutFile","comments":"","position":{"x":734.1949495759688,"y":266.1715166830593},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-insertkafka.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d677-019c-1000-fa03-11facc71e757","instanceIdentifier":"6bd34874-7666-3633-a5f6-0ba13f6cf00c","name":"UpdateAttribute","comments":"","position":{"x":57.582858511515724,"y":-154.06027958158916},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.1"},"properties":{"Delete Attributes Expression":null,"event_type":"reference_tower","Store State":"Do not store state","event.source":"nifi","event.ingest_ts":"${now():toNumber()}","kafka.topic":"tower-bronze-cdr","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"kafka.key":"${session_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_type":{"name":"event_type","displayName":"event_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event.source":{"name":"event.source","displayName":"event.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"event.ingest_ts":{"name":"event.ingest_ts","displayName":"event.ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d67b-019c-1000-5a8b-4b2d111e646f","instanceIdentifier":"5c1defec-ad29-3bdc-3cda-8a5e5a7d37fd","name":"UpdateRecord","comments":"","position":{"x":72.0,"y":56.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"/filename":"${filename}","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Replacement Value Strategy":"literal-value","/ingest_ts":"${event.ingest_ts}"},"propertyDescriptors":{"/filename":{"name":"/filename","displayName":"/filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ingest_ts":{"name":"/ingest_ts","displayName":"/ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d679-019c-1000-029f-283e5f8c291d","instanceIdentifier":"3cefb00d-7d92-376a-7906-2efe0dc9186b","name":"PutFile","comments":"","position":{"x":721.5828585115157,"y":-394.06027958158916},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-spliting.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d67e-019c-1000-b95f-aa3e55b9ab6b","instanceIdentifier":"fb3bf3d6-64af-38fc-e74b-f5919f568fb1","name":"ConvertRecord","comments":"","position":{"x":-502.4171414884843,"y":-394.06027958158916},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d676-019c-1000-d048-a4b70991dd01","instanceIdentifier":"71b43cd1-24a8-3494-2af5-0cb13ce3914f","name":"PublishVoiceRecordToKafka","comments":"","position":{"x":712.0,"y":48.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.1"},"properties":{"compression.type":"none","acks":"1","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":"nifi-cdr-tx-${hostname()}","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"tower-referentiel","Kafka Key":null,"partition":null,"Kafka Connection Service":"108d21df-692e-3da5-a508-72c0255c893c","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d67c-019c-1000-7862-aaf1c09a9aa9","instanceIdentifier":"cf32f459-d381-36ca-fde8-934d07735c60","name":"PutFile","comments":"","position":{"x":64.0,"y":288.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-newpair.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d678-019c-1000-c9ae-55faec1f3d78","instanceIdentifier":"b0fb12e7-f959-3411-5b04-2797ae32991f","name":"SplitRecord","comments":"","position":{"x":72.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4387d687-019c-1000-fb30-1a69514f96c4","instanceIdentifier":"5257cb38-6ca8-3184-6790-8c3fa1d3f709","name":"","source":{"id":"4387d67b-019c-1000-5a8b-4b2d111e646f","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"UpdateRecord","comments":"","instanceIdentifier":"5c1defec-ad29-3bdc-3cda-8a5e5a7d37fd"},"destination":{"id":"4387d67c-019c-1000-7862-aaf1c09a9aa9","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"PutFile","comments":"","instanceIdentifier":"cf32f459-d381-36ca-fde8-934d07735c60"},"labelIndex":0,"zIndex":14,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d684-019c-1000-b032-d658b6d79072","instanceIdentifier":"b8f4a4c1-9ae3-33cc-ee86-1497f746ac79","name":"","source":{"id":"4387d67e-019c-1000-b95f-aa3e55b9ab6b","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"ConvertRecord","comments":"","instanceIdentifier":"fb3bf3d6-64af-38fc-e74b-f5919f568fb1"},"destination":{"id":"4387d678-019c-1000-c9ae-55faec1f3d78","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"SplitRecord","comments":"","instanceIdentifier":"b0fb12e7-f959-3411-5b04-2797ae32991f"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d686-019c-1000-697e-32d4404bf99c","instanceIdentifier":"91878539-420e-3502-b682-0e4bec9ac234","name":"","source":{"id":"4387d67b-019c-1000-5a8b-4b2d111e646f","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"UpdateRecord","comments":"","instanceIdentifier":"5c1defec-ad29-3bdc-3cda-8a5e5a7d37fd"},"destination":{"id":"4387d676-019c-1000-d048-a4b70991dd01","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"71b43cd1-24a8-3494-2af5-0cb13ce3914f"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d681-019c-1000-878b-dd3534a0bc41","instanceIdentifier":"57631b65-0a98-3b27-68ec-a13dfd2fb1d7","name":"","source":{"id":"4387d676-019c-1000-d048-a4b70991dd01","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"71b43cd1-24a8-3494-2af5-0cb13ce3914f"},"destination":{"id":"4387d675-019c-1000-26c2-f4039b63d97e","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"PutFile","comments":"","instanceIdentifier":"e25da0b3-a7f3-3119-2f13-b342ced09985"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d682-019c-1000-8724-5d299754f273","instanceIdentifier":"cd2077c4-b0c2-348b-4f75-32d523700fdd","name":"","source":{"id":"4387d677-019c-1000-fa03-11facc71e757","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"UpdateAttribute","comments":"","instanceIdentifier":"6bd34874-7666-3633-a5f6-0ba13f6cf00c"},"destination":{"id":"4387d67b-019c-1000-5a8b-4b2d111e646f","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"UpdateRecord","comments":"","instanceIdentifier":"5c1defec-ad29-3bdc-3cda-8a5e5a7d37fd"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d67f-019c-1000-9849-0536a97c31b3","instanceIdentifier":"14d16f56-e146-36e5-8398-c779ccbf9ee5","name":"","source":{"id":"4387d678-019c-1000-c9ae-55faec1f3d78","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"SplitRecord","comments":"","instanceIdentifier":"b0fb12e7-f959-3411-5b04-2797ae32991f"},"destination":{"id":"4387d679-019c-1000-029f-283e5f8c291d","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"PutFile","comments":"","instanceIdentifier":"3cefb00d-7d92-376a-7906-2efe0dc9186b"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d683-019c-1000-9991-5c9d6eb5f26b","instanceIdentifier":"2e9c4114-5531-3e94-a833-4a991eae1a21","name":"","source":{"id":"4387d67e-019c-1000-b95f-aa3e55b9ab6b","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"ConvertRecord","comments":"","instanceIdentifier":"fb3bf3d6-64af-38fc-e74b-f5919f568fb1"},"destination":{"id":"4387d67d-019c-1000-c7d8-aa5a7d80f328","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"PutFile","comments":"","instanceIdentifier":"a5810aa0-5c7b-372c-48a8-818ae5dea761"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d685-019c-1000-d800-b431db7433e8","instanceIdentifier":"daf155f9-4ef1-33f1-d430-17514a0f60a0","name":"","source":{"id":"4387d678-019c-1000-c9ae-55faec1f3d78","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"SplitRecord","comments":"","instanceIdentifier":"b0fb12e7-f959-3411-5b04-2797ae32991f"},"destination":{"id":"4387d677-019c-1000-fa03-11facc71e757","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"UpdateAttribute","comments":"","instanceIdentifier":"6bd34874-7666-3633-a5f6-0ba13f6cf00c"},"labelIndex":0,"zIndex":6,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"},{"identifier":"4387d680-019c-1000-e11d-e5026d36be72","instanceIdentifier":"1b87b0a6-02f4-3ee4-03d5-e177df8e48fd","name":"","source":{"id":"4387d67a-019c-1000-f1c5-7476abf42919","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"GetTowerReferentielFile","comments":"","instanceIdentifier":"8cfd853f-4807-3266-9241-53b35259aba3"},"destination":{"id":"4387d67e-019c-1000-b95f-aa3e55b9ab6b","type":"PROCESSOR","groupId":"4387d674-019c-1000-0d1a-db74be548dab","name":"ConvertRecord","comments":"","instanceIdentifier":"fb3bf3d6-64af-38fc-e74b-f5919f568fb1"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4387d674-019c-1000-0d1a-db74be548dab"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"},{"identifier":"2f05ef84-2f92-353c-9679-261f88d75a44","instanceIdentifier":"2680259e-2e3c-3f1b-983f-7a5758318df0","name":"smsKafkaStreaming","comments":"","position":{"x":-1000.0,"y":-368.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"430126f8-019c-1000-f746-a78adc45bf29","instanceIdentifier":"e3d12fbb-cf79-38be-1681-46719ee637f7","name":"PutFile","comments":"","position":{"x":683.7280421542507,"y":-387.86392473070305},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-spliting.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f3-019c-1000-691e-a0cdb1d941a5","instanceIdentifier":"3e4eb947-c6ad-3d2f-de1e-e38329044814","name":"PutFile","comments":"","position":{"x":-564.2719578457493,"y":-91.86392473070305},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-convertion.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f7-019c-1000-6c9b-61f81dd25374","instanceIdentifier":"8a48082d-9ee1-3aeb-07a3-0b8f034dab3a","name":"PutFile","comments":"","position":{"x":776.0,"y":264.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-insertkafka.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126ef-019c-1000-15c3-f54f1223b3ac","instanceIdentifier":"73e3320a-7dbc-3193-5d6c-c52d5d658a91","name":"SplitRecord","comments":"","position":{"x":35.728042154250716,"y":-379.86392473070305},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"51a622dc-019c-1000-0439-c4d910257775","instanceIdentifier":"321e5124-f12e-3095-4678-a191a6bb21f4","name":"ListSmsCDRsFile","comments":"","position":{"x":-1504.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.ListSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Minimum File Age":"0 sec","Entity Tracking Initial Listing Target":"all","Ignore Dotted Files":"true","Entity Tracking State Cache":null,"Port":"2222","Ciphers Allowed":null,"Proxy Configuration Service":null,"Connection Timeout":"30 sec","Follow Symbolic Links":"false","Path Filter Regex":null,"Record Writer":null,"Minimum File Size":"0 B","Search Recursively":"false","Entity Tracking Time Window":"3 hours","Strict Host Key Checking":"false","File Filter Regex":"sms.*","Maximum File Age":null,"Hostname":"fileserver.app.svc.cluster.local","Maximum File Size":null,"Remote Path":"/upload","Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Data Timeout":"30 sec","Private Key Path":null,"Target System Timestamp Precision":"auto-detect","Username":"foo","Algorithm Negotiation":"DEFAULT","Key Exchange Algorithms Allowed":null,"Listing Strategy":"timestamps","Key Algorithms Allowed":null},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Follow Symbolic Links":{"name":"Follow Symbolic Links","displayName":"Follow Symbolic Links","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f5-019c-1000-fcab-79aef273706b","instanceIdentifier":"7b595272-1887-3208-730e-46e735870cf0","name":"UpdateAttribute","comments":"","position":{"x":19.728042154250716,"y":-147.86392473070305},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.1"},"properties":{"Delete Attributes Expression":null,"event_type":"cdr_sms","Store State":"Do not store state","event.source":"nifi","event.ingest_ts":"${now():toNumber()}","kafka.topic":"data_cdr","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"kafka.key":"${session_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_type":{"name":"event_type","displayName":"event_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event.source":{"name":"event.source","displayName":"event.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"event.ingest_ts":{"name":"event.ingest_ts","displayName":"event.ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"51a622db-019c-1000-895d-2c94ef6e5d82","instanceIdentifier":"8c1fa435-adca-328a-89f1-3d785ba70b55","name":"FetchSmsCdrsFile","comments":"","position":{"x":-960.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.FetchSFTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Port":"2222","Remote File":"${path}/${filename}","Log Level When File Not Found":"ERROR","Hostname":"fileserver.app.svc.cluster.local","Create Directory":"false","Host Key File":null,"Use Compression":"false","Ciphers Allowed":null,"Message Authentication Codes Allowed":null,"Disable Directory Listing":"false","Send Keep Alive On Timeout":"true","Completion Strategy":"None","Proxy Configuration Service":null,"Connection Timeout":"30 sec","Data Timeout":"30 sec","Private Key Path":null,"Username":"foo","Move Destination Directory":null,"Algorithm Negotiation":"DEFAULT","Key Exchange Algorithms Allowed":null,"Strict Host Key Checking":"false","Key Algorithms Allowed":null},"propertyDescriptors":{"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level When File Not Found":{"name":"Log Level When File Not Found","displayName":"Log Level When File Not Found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Algorithm Negotiation":{"name":"Algorithm Negotiation","displayName":"Algorithm Negotiation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f1-019c-1000-2c3f-96aeb5b6a943","instanceIdentifier":"d9e9ea82-d603-329f-ab93-8f36b73c1e52","name":"UpdateRecord","comments":"","position":{"x":27.728042154250716,"y":44.13607526929695},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"/filename":"${filename}","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Replacement Value Strategy":"literal-value","/ingest_ts":"${event.ingest_ts}"},"propertyDescriptors":{"/filename":{"name":"/filename","displayName":"/filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ingest_ts":{"name":"/ingest_ts","displayName":"/ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f6-019c-1000-967f-fc374ce8ffe8","instanceIdentifier":"7dd7b0d0-cdcd-3aca-bfad-6aad1e5a10dc","name":"ConvertRecord","comments":"","position":{"x":-540.2719578457493,"y":-387.86392473070305},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f2-019c-1000-26e3-45b80828a419","instanceIdentifier":"c604a4cd-3086-3415-1db1-5a4a59d16f67","name":"PutFile","comments":"","position":{"x":11.728042154250716,"y":260.13607526929695},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-newpair.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f0-019c-1000-c005-3f68b7beacb1","instanceIdentifier":"3e7e76b1-792e-3aec-e444-345594d9434e","name":"PublishVoiceRecordToKafka","comments":"","position":{"x":768.0,"y":-80.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.1"},"properties":{"compression.type":"none","acks":"1","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":"nifi-cdr-tx-${hostname()}","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"sms-bronze-cdr","Kafka Key":null,"partition":null,"Kafka Connection Service":"108d21df-692e-3da5-a508-72c0255c893c","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"430126fd-019c-1000-95d5-ad12bf4ce509","instanceIdentifier":"6e46ab4f-352d-3272-6a2b-c26914a295d4","name":"","source":{"id":"430126f1-019c-1000-2c3f-96aeb5b6a943","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateRecord","comments":"","instanceIdentifier":"d9e9ea82-d603-329f-ab93-8f36b73c1e52"},"destination":{"id":"430126f0-019c-1000-c005-3f68b7beacb1","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"3e7e76b1-792e-3aec-e444-345594d9434e"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126fb-019c-1000-27be-30195aa9a4ef","instanceIdentifier":"30306ee0-83d5-3c19-dd45-51e86d4e5ebe","name":"","source":{"id":"430126f0-019c-1000-c005-3f68b7beacb1","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"3e7e76b1-792e-3aec-e444-345594d9434e"},"destination":{"id":"430126f7-019c-1000-6c9b-61f81dd25374","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"8a48082d-9ee1-3aeb-07a3-0b8f034dab3a"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126fa-019c-1000-fc21-7cf0696a03e6","instanceIdentifier":"dc8fe221-370d-37f2-4f16-34c1fd1f4132","name":"","source":{"id":"430126f6-019c-1000-967f-fc374ce8ffe8","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"ConvertRecord","comments":"","instanceIdentifier":"7dd7b0d0-cdcd-3aca-bfad-6aad1e5a10dc"},"destination":{"id":"430126f3-019c-1000-691e-a0cdb1d941a5","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"3e4eb947-c6ad-3d2f-de1e-e38329044814"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"3fc54ce5-0787-36b9-8706-c2bb3410929c","instanceIdentifier":"c7d31fca-7399-3e43-2f55-145225b04959","name":"","source":{"id":"430126f5-019c-1000-fcab-79aef273706b","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateAttribute","comments":"","instanceIdentifier":"7b595272-1887-3208-730e-46e735870cf0"},"destination":{"id":"430126f1-019c-1000-2c3f-96aeb5b6a943","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateRecord","comments":"","instanceIdentifier":"d9e9ea82-d603-329f-ab93-8f36b73c1e52"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"799bac89-d5d0-3b77-9ab5-4c89bcb4b8aa","instanceIdentifier":"51a63802-019c-1000-cfd7-fa3fbcea2c9e","name":"","source":{"id":"51a622dc-019c-1000-0439-c4d910257775","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"ListSmsCDRsFile","comments":"","instanceIdentifier":"321e5124-f12e-3095-4678-a191a6bb21f4"},"destination":{"id":"51a622db-019c-1000-895d-2c94ef6e5d82","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"FetchSmsCdrsFile","comments":"","instanceIdentifier":"8c1fa435-adca-328a-89f1-3d785ba70b55"},"labelIndex":0,"zIndex":18,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"cfd2f5d2-bd3c-3c34-b92d-ff246cfc4986","instanceIdentifier":"3c4722e2-6531-3b04-8de7-b1e9975882a2","name":"","source":{"id":"430126f6-019c-1000-967f-fc374ce8ffe8","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"ConvertRecord","comments":"","instanceIdentifier":"7dd7b0d0-cdcd-3aca-bfad-6aad1e5a10dc"},"destination":{"id":"430126ef-019c-1000-15c3-f54f1223b3ac","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"SplitRecord","comments":"","instanceIdentifier":"73e3320a-7dbc-3193-5d6c-c52d5d658a91"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"33822b89-5386-3ea0-b80d-90ed3a32d14d","instanceIdentifier":"51a64a28-019c-1000-846a-023418d0fa59","name":"","source":{"id":"51a622db-019c-1000-895d-2c94ef6e5d82","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"FetchSmsCdrsFile","comments":"","instanceIdentifier":"8c1fa435-adca-328a-89f1-3d785ba70b55"},"destination":{"id":"430126f6-019c-1000-967f-fc374ce8ffe8","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"ConvertRecord","comments":"","instanceIdentifier":"7dd7b0d0-cdcd-3aca-bfad-6aad1e5a10dc"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"4cbd996a-d099-3fdf-85d3-c14c22292975","instanceIdentifier":"a7cd7d6a-77df-3d25-4883-53efdafbd183","name":"","source":{"id":"430126f1-019c-1000-2c3f-96aeb5b6a943","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateRecord","comments":"","instanceIdentifier":"d9e9ea82-d603-329f-ab93-8f36b73c1e52"},"destination":{"id":"430126f2-019c-1000-26e3-45b80828a419","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"c604a4cd-3086-3415-1db1-5a4a59d16f67"},"labelIndex":0,"zIndex":17,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126fc-019c-1000-6f34-5e0e543b4be2","instanceIdentifier":"8acfcede-2e4f-3ad0-1e83-9abec1867f7c","name":"","source":{"id":"430126ef-019c-1000-15c3-f54f1223b3ac","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"SplitRecord","comments":"","instanceIdentifier":"73e3320a-7dbc-3193-5d6c-c52d5d658a91"},"destination":{"id":"430126f8-019c-1000-f746-a78adc45bf29","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"e3d12fbb-cf79-38be-1681-46719ee637f7"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f9-019c-1000-0935-844fcf11e157","instanceIdentifier":"2bf04d63-d182-30be-1437-00d7e141b360","name":"","source":{"id":"430126ef-019c-1000-15c3-f54f1223b3ac","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"SplitRecord","comments":"","instanceIdentifier":"73e3320a-7dbc-3193-5d6c-c52d5d658a91"},"destination":{"id":"430126f5-019c-1000-fcab-79aef273706b","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateAttribute","comments":"","instanceIdentifier":"7b595272-1887-3208-730e-46e735870cf0"},"labelIndex":0,"zIndex":6,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","instanceIdentifier":"1e865988-7c98-3fed-4668-683b8a25654b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.1"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"},{"identifier":"74aeb7b0-e338-3666-946b-8b3779831f63","instanceIdentifier":"a26d5a11-42c7-3644-002f-c6e33259db3c","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.1"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-oneline","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss","Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"},{"identifier":"108d21df-692e-3da5-a508-72c0255c893c","instanceIdentifier":"191fccf7-7729-3e63-6af9-e976fe35c8d3","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.7.1"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"broker:29092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"},{"identifier":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa","instanceIdentifier":"997b7e27-2efa-328b-cd92-9ac0b9dedc01","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.1"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss","Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"},{"identifier":"32a14b52-019c-1000-d298-5ba6c15826a6","instanceIdentifier":"c6d36b6c-a5d0-3e25-6508-585e8e2b02e0","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.1"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":null,"Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"13d76b4a-8286-3eba-8c7b-5f86a5eeafa5"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}