jobs/nifi/simple-flow-kafka.json
{"flowContents":{"identifier":"5064f25b-2fdf-3e47-80b7-7acacf615975","instanceIdentifier":"4360ee39-019c-1000-7df4-a07f0a530e2b","name":"simple-flow-kafka","comments":"","position":{"x":-255.0,"y":-227.3888931274414},"processGroups":[{"identifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","instanceIdentifier":"69cb8ed3-d837-39ce-1726-2b69062adfbe","name":"voiceKafkaStreaming","comments":"","position":{"x":-992.0,"y":-128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"43005a18-019c-1000-029b-396c0f193e76","instanceIdentifier":"eec8a1a8-dd7a-38c6-e4e8-adf40b9975f4","name":"PutFile","comments":"","position":{"x":683.8890078584559,"y":-387.94444241777103},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-spliting.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a13-019c-1000-d991-b3b71acdaa05","instanceIdentifier":"d9e73acb-6205-3b8d-04af-04411c5a0a4a","name":"PutFile","comments":"","position":{"x":-564.1109921415441,"y":-91.94444241777103},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-convertion.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a15-019c-1000-f66a-01560efb89c6","instanceIdentifier":"fd5f2e73-ed9f-30be-e6e9-c3f901725adf","name":"UpdateAttribute","comments":"","position":{"x":19.889007858455898,"y":-147.94444241777103},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.1"},"properties":{"Delete Attributes Expression":null,"event_type":"cdr_voice","Store State":"Do not store state","event.source":"nifi","event.ingest_ts":"${now():toNumber()}","kafka.topic":"data_cdr","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"kafka.key":"${session_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_type":{"name":"event_type","displayName":"event_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event.source":{"name":"event.source","displayName":"event.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"event.ingest_ts":{"name":"event.ingest_ts","displayName":"event.ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a0f-019c-1000-7d80-b83da0e46e79","instanceIdentifier":"c2ca63e3-b5e3-3af6-7df5-aecc28f03ad4","name":"SplitRecord","comments":"","position":{"x":35.8890078584559,"y":-379.94444241777103},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a17-019c-1000-70ab-ec7122ec6f22","instanceIdentifier":"ec9d7692-c742-30a8-2116-e25472904f4c","name":"PutFile","comments":"","position":{"x":603.8890078584559,"y":260.05555758222897},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-insertkafka.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a11-019c-1000-ee81-412681ad75f1","instanceIdentifier":"90f902a6-2cdb-3418-67ef-e6f99950441f","name":"UpdateRecord","comments":"","position":{"x":27.889007858455898,"y":44.05555758222897},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"/filename":"${filename}","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Replacement Value Strategy":"literal-value","/ingest_ts":"${event.ingest_ts}"},"propertyDescriptors":{"/filename":{"name":"/filename","displayName":"/filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ingest_ts":{"name":"/ingest_ts","displayName":"/ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a12-019c-1000-1445-acded717e3b1","instanceIdentifier":"ba16d236-c088-3856-3d26-b9deccd38d15","name":"PutFile","comments":"","position":{"x":11.889007858455898,"y":260.05555758222897},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-newpair.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a14-019c-1000-79da-d33540fbecc9","instanceIdentifier":"98a36faa-17c2-3f04-80dd-bd2f26bf7b6f","name":"GetVoiceCdrsFile","comments":"","position":{"x":-1124.110992141544,"y":-379.94444241777103},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Keep Source File":"true","Minimum File Age":"1 sec","Polling Interval":"30 sec","Input Directory":"/opt/nifi/nifi-data/cdr_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"voice.*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a16-019c-1000-b9b0-43276f16af4c","instanceIdentifier":"81373cb0-d998-388b-3f09-92694dd56031","name":"ConvertRecord","comments":"","position":{"x":-540.1109921415441,"y":-387.94444241777103},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a10-019c-1000-885a-65074c54cdc6","instanceIdentifier":"8f1651cc-04c5-3f83-f3e3-2f7b887bd1c5","name":"PublishVoiceRecordToKafka","comments":"","position":{"x":771.8890078584559,"y":-19.94444241777103},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.1"},"properties":{"compression.type":"none","acks":"1","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":"nifi-cdr-tx-${hostname()}","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"voice-bronze-cdr","Kafka Key":null,"partition":null,"Kafka Connection Service":"108d21df-692e-3da5-a508-72c0255c893c","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"47948b5c-d5e9-3079-b894-68b356fed8be","instanceIdentifier":"abe31160-54ca-363b-f47c-076e9093d388","name":"","source":{"id":"43005a16-019c-1000-b9b0-43276f16af4c","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"ConvertRecord","comments":"","instanceIdentifier":"81373cb0-d998-388b-3f09-92694dd56031"},"destination":{"id":"43005a0f-019c-1000-7d80-b83da0e46e79","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"SplitRecord","comments":"","instanceIdentifier":"c2ca63e3-b5e3-3af6-7df5-aecc28f03ad4"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"ff457cf5-db26-3021-b815-451104f46879","instanceIdentifier":"b6445652-3ef4-395a-333f-3b66077a6887","name":"","source":{"id":"43005a14-019c-1000-79da-d33540fbecc9","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"GetVoiceCdrsFile","comments":"","instanceIdentifier":"98a36faa-17c2-3f04-80dd-bd2f26bf7b6f"},"destination":{"id":"43005a16-019c-1000-b9b0-43276f16af4c","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"ConvertRecord","comments":"","instanceIdentifier":"81373cb0-d998-388b-3f09-92694dd56031"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1c-019c-1000-494f-d6a5aaad9670","instanceIdentifier":"a9b50f20-8969-3773-8fe7-d95e6e801808","name":"","source":{"id":"43005a0f-019c-1000-7d80-b83da0e46e79","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"SplitRecord","comments":"","instanceIdentifier":"c2ca63e3-b5e3-3af6-7df5-aecc28f03ad4"},"destination":{"id":"43005a18-019c-1000-029b-396c0f193e76","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"eec8a1a8-dd7a-38c6-e4e8-adf40b9975f4"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1a-019c-1000-a57e-a1c903f838fb","instanceIdentifier":"a53e25d7-9f39-318a-2811-551cfa2595d2","name":"","source":{"id":"43005a16-019c-1000-b9b0-43276f16af4c","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"ConvertRecord","comments":"","instanceIdentifier":"81373cb0-d998-388b-3f09-92694dd56031"},"destination":{"id":"43005a13-019c-1000-d991-b3b71acdaa05","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"d9e73acb-6205-3b8d-04af-04411c5a0a4a"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1b-019c-1000-73bc-f7e12bf41f9f","instanceIdentifier":"a93199bd-f1b6-3e17-a876-252d1daaaa94","name":"","source":{"id":"43005a10-019c-1000-885a-65074c54cdc6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"8f1651cc-04c5-3f83-f3e3-2f7b887bd1c5"},"destination":{"id":"43005a17-019c-1000-70ab-ec7122ec6f22","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"ec9d7692-c742-30a8-2116-e25472904f4c"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"24b3d201-81c9-3233-a5b8-eb6e2fbda29e","instanceIdentifier":"437465e5-019c-1000-f7b3-743ce2442559","name":"","source":{"id":"43005a11-019c-1000-ee81-412681ad75f1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateRecord","comments":"","instanceIdentifier":"90f902a6-2cdb-3418-67ef-e6f99950441f"},"destination":{"id":"43005a12-019c-1000-1445-acded717e3b1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PutFile","comments":"","instanceIdentifier":"ba16d236-c088-3856-3d26-b9deccd38d15"},"labelIndex":0,"zIndex":17,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"636846e4-074e-3ef0-8033-e42c1f21e90c","instanceIdentifier":"437449d7-019c-1000-774d-cc0d2e3b0e44","name":"","source":{"id":"43005a15-019c-1000-f66a-01560efb89c6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateAttribute","comments":"","instanceIdentifier":"fd5f2e73-ed9f-30be-e6e9-c3f901725adf"},"destination":{"id":"43005a11-019c-1000-ee81-412681ad75f1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateRecord","comments":"","instanceIdentifier":"90f902a6-2cdb-3418-67ef-e6f99950441f"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a19-019c-1000-0cdd-5c0e324ef761","instanceIdentifier":"65f5466d-0271-3285-26b6-ed3d0f42c3d2","name":"","source":{"id":"43005a0f-019c-1000-7d80-b83da0e46e79","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"SplitRecord","comments":"","instanceIdentifier":"c2ca63e3-b5e3-3af6-7df5-aecc28f03ad4"},"destination":{"id":"43005a15-019c-1000-f66a-01560efb89c6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateAttribute","comments":"","instanceIdentifier":"fd5f2e73-ed9f-30be-e6e9-c3f901725adf"},"labelIndex":0,"zIndex":6,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"},{"identifier":"43005a1d-019c-1000-f1dd-c3ca97acf75c","instanceIdentifier":"ebf2cd02-9746-35a9-8053-7b8fee760010","name":"","source":{"id":"43005a11-019c-1000-ee81-412681ad75f1","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"UpdateRecord","comments":"","instanceIdentifier":"90f902a6-2cdb-3418-67ef-e6f99950441f"},"destination":{"id":"43005a10-019c-1000-885a-65074c54cdc6","type":"PROCESSOR","groupId":"d3f650ca-4763-38cf-97e8-619d38d8c2d2","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"8f1651cc-04c5-3f83-f3e3-2f7b887bd1c5"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3f650ca-4763-38cf-97e8-619d38d8c2d2"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"},{"identifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","instanceIdentifier":"324500e5-fe84-30e2-c290-141d35aed069","name":"dataKafkaStreaming","comments":"","position":{"x":-1000.0,"y":-616.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4327c6c1-019c-1000-f7c7-f138acfad6fb","instanceIdentifier":"c2ced973-fdc5-31f2-4ef0-ef93ce4ae5e0","name":"PutFile","comments":"","position":{"x":734.1949495759688,"y":266.1715166830593},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-insertkafka.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6ba-019c-1000-e10b-0d31182b328e","instanceIdentifier":"dc62fe2b-d795-321a-9db4-df48227ea680","name":"PublishVoiceRecordToKafka","comments":"","position":{"x":712.0,"y":48.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.1"},"properties":{"compression.type":"none","acks":"1","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":"nifi-cdr-tx-${hostname()}","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"data-bronze-cdr","Kafka Key":null,"partition":null,"Kafka Connection Service":"108d21df-692e-3da5-a508-72c0255c893c","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bf-019c-1000-612c-b6a4570e41ee","instanceIdentifier":"e9eca72c-e42f-3af1-01eb-d6c59c560256","name":"UpdateAttribute","comments":"","position":{"x":57.582858511515724,"y":-154.06027958158916},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.1"},"properties":{"Delete Attributes Expression":null,"event_type":"cdr_data","Store State":"Do not store state","event.source":"nifi","event.ingest_ts":"${now():toNumber()}","kafka.topic":"data-bronze-cdr","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"kafka.key":"${session_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_type":{"name":"event_type","displayName":"event_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event.source":{"name":"event.source","displayName":"event.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"event.ingest_ts":{"name":"event.ingest_ts","displayName":"event.ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6b9-019c-1000-cc32-8491b652961f","instanceIdentifier":"489655da-9336-32a2-26ab-7ca8bd461e6f","name":"SplitRecord","comments":"","position":{"x":72.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c2-019c-1000-3ed4-d15c49be7576","instanceIdentifier":"d0cc26b4-edfb-3837-9612-5a8b7079d393","name":"PutFile","comments":"","position":{"x":721.5828585115157,"y":-394.06027958158916},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-spliting.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327e554-019c-1000-4684-887f46d3df29","instanceIdentifier":"9f5937cb-7663-3e30-92bd-a78c131712fe","name":"GetDataCdrsFile","comments":"","position":{"x":-1048.0,"y":-392.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"/opt/nifi/nifi-data/cdr_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"data.*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bb-019c-1000-5788-feb291337e6f","instanceIdentifier":"a8ed672b-b3bd-3f9d-11f3-d1832bc3c95c","name":"UpdateRecord","comments":"","position":{"x":72.0,"y":56.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"/filename":"${filename}","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Replacement Value Strategy":"literal-value","/ingest_ts":"${event.ingest_ts}"},"propertyDescriptors":{"/filename":{"name":"/filename","displayName":"/filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ingest_ts":{"name":"/ingest_ts","displayName":"/ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bc-019c-1000-80e8-2888714970e9","instanceIdentifier":"f8c972b5-97c1-36c4-f297-ed3e87303b45","name":"PutFile","comments":"","position":{"x":64.0,"y":288.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-newpair.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6bd-019c-1000-364a-0d375b9b0f76","instanceIdentifier":"79ba6221-94cb-32b0-eb2d-6390c6853fd4","name":"PutFile","comments":"","position":{"x":-526.4171414884843,"y":-98.06027958158916},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-convertion.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c0-019c-1000-297d-0545715327aa","instanceIdentifier":"35115ae5-3a0f-3ba9-410f-073721b9e322","name":"ConvertRecord","comments":"","position":{"x":-502.4171414884843,"y":-394.06027958158916},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4327c6c9-019c-1000-e050-0455de7afd61","instanceIdentifier":"4d44badd-a736-309d-3d58-146543e83ade","name":"","source":{"id":"4327c6b9-019c-1000-cc32-8491b652961f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"SplitRecord","comments":"","instanceIdentifier":"489655da-9336-32a2-26ab-7ca8bd461e6f"},"destination":{"id":"4327c6c2-019c-1000-3ed4-d15c49be7576","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"d0cc26b4-edfb-3837-9612-5a8b7079d393"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"5670f12e-57ad-3c28-9f2d-969caaa739bc","instanceIdentifier":"ab014aa8-f341-3315-c4e7-62efe99a5df2","name":"","source":{"id":"4327e554-019c-1000-4684-887f46d3df29","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"GetDataCdrsFile","comments":"","instanceIdentifier":"9f5937cb-7663-3e30-92bd-a78c131712fe"},"destination":{"id":"4327c6c0-019c-1000-297d-0545715327aa","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"ConvertRecord","comments":"","instanceIdentifier":"35115ae5-3a0f-3ba9-410f-073721b9e322"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c7-019c-1000-11fc-ca17f9be5b90","instanceIdentifier":"6c9792df-247b-3741-d248-8440beba7e9c","name":"","source":{"id":"4327c6ba-019c-1000-e10b-0d31182b328e","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"dc62fe2b-d795-321a-9db4-df48227ea680"},"destination":{"id":"4327c6c1-019c-1000-f7c7-f138acfad6fb","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"c2ced973-fdc5-31f2-4ef0-ef93ce4ae5e0"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c8-019c-1000-c4bd-108d15546a0d","instanceIdentifier":"be7ee705-37ed-3007-0ef5-4c98afab4f72","name":"","source":{"id":"4327c6bf-019c-1000-612c-b6a4570e41ee","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateAttribute","comments":"","instanceIdentifier":"e9eca72c-e42f-3af1-01eb-d6c59c560256"},"destination":{"id":"4327c6bb-019c-1000-5788-feb291337e6f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateRecord","comments":"","instanceIdentifier":"a8ed672b-b3bd-3f9d-11f3-d1832bc3c95c"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c5-019c-1000-6162-a9d0c1485d45","instanceIdentifier":"4c41ba04-f3d2-3c98-9e02-5a24e6fa7ab8","name":"","source":{"id":"4327c6c0-019c-1000-297d-0545715327aa","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"ConvertRecord","comments":"","instanceIdentifier":"35115ae5-3a0f-3ba9-410f-073721b9e322"},"destination":{"id":"4327c6bd-019c-1000-364a-0d375b9b0f76","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"79ba6221-94cb-32b0-eb2d-6390c6853fd4"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c4-019c-1000-3a2c-5a1d259b6853","instanceIdentifier":"f69d8758-d088-3329-53e3-8164d8b01f36","name":"","source":{"id":"4327c6c0-019c-1000-297d-0545715327aa","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"ConvertRecord","comments":"","instanceIdentifier":"35115ae5-3a0f-3ba9-410f-073721b9e322"},"destination":{"id":"4327c6b9-019c-1000-cc32-8491b652961f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"SplitRecord","comments":"","instanceIdentifier":"489655da-9336-32a2-26ab-7ca8bd461e6f"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c3-019c-1000-28b6-55a35a7f6d4b","instanceIdentifier":"d1544f52-e6f6-3d94-5af0-3ea36c729ad5","name":"","source":{"id":"4327c6b9-019c-1000-cc32-8491b652961f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"SplitRecord","comments":"","instanceIdentifier":"489655da-9336-32a2-26ab-7ca8bd461e6f"},"destination":{"id":"4327c6bf-019c-1000-612c-b6a4570e41ee","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateAttribute","comments":"","instanceIdentifier":"e9eca72c-e42f-3af1-01eb-d6c59c560256"},"labelIndex":0,"zIndex":6,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6ca-019c-1000-145e-8d3e7dd9696f","instanceIdentifier":"5c4b01bb-13d1-3c56-ec51-0bfd9099465d","name":"","source":{"id":"4327c6bb-019c-1000-5788-feb291337e6f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateRecord","comments":"","instanceIdentifier":"a8ed672b-b3bd-3f9d-11f3-d1832bc3c95c"},"destination":{"id":"4327c6ba-019c-1000-e10b-0d31182b328e","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"dc62fe2b-d795-321a-9db4-df48227ea680"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"},{"identifier":"4327c6c6-019c-1000-80ca-dd343954b0c1","instanceIdentifier":"3e128873-e3d8-3fb4-6b7a-1a8423494e35","name":"","source":{"id":"4327c6bb-019c-1000-5788-feb291337e6f","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"UpdateRecord","comments":"","instanceIdentifier":"a8ed672b-b3bd-3f9d-11f3-d1832bc3c95c"},"destination":{"id":"4327c6bc-019c-1000-80e8-2888714970e9","type":"PROCESSOR","groupId":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862","name":"PutFile","comments":"","instanceIdentifier":"f8c972b5-97c1-36c4-f297-ed3e87303b45"},"labelIndex":0,"zIndex":14,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bc58ce7e-6dc4-3f29-85ec-3bea0eb74862"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"},{"identifier":"2f05ef84-2f92-353c-9679-261f88d75a44","instanceIdentifier":"1e6e21e8-d071-311b-4991-9ab200bb4eed","name":"smsKafkaStreaming","comments":"","position":{"x":-1000.0,"y":-368.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"430126f8-019c-1000-f746-a78adc45bf29","instanceIdentifier":"5680ffcc-b901-361b-1eff-b432adda4835","name":"PutFile","comments":"","position":{"x":683.7280421542507,"y":-387.86392473070305},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-spliting.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f3-019c-1000-691e-a0cdb1d941a5","instanceIdentifier":"ef5bf590-8a8b-3075-7d15-5edf9544f8ce","name":"PutFile","comments":"","position":{"x":-564.2719578457493,"y":-91.86392473070305},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-convertion.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f7-019c-1000-6c9b-61f81dd25374","instanceIdentifier":"e24a67b9-269e-39f2-7631-c7542c224554","name":"PutFile","comments":"","position":{"x":776.0,"y":264.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-insertkafka.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126ef-019c-1000-15c3-f54f1223b3ac","instanceIdentifier":"e4ee29b8-35d0-3be0-1da7-562ac3e457fe","name":"SplitRecord","comments":"","position":{"x":35.728042154250716,"y":-379.86392473070305},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f5-019c-1000-fcab-79aef273706b","instanceIdentifier":"ecc07a6e-8efa-3646-1db2-252a7181e18a","name":"UpdateAttribute","comments":"","position":{"x":19.728042154250716,"y":-147.86392473070305},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.1"},"properties":{"Delete Attributes Expression":null,"event_type":"cdr_sms","Store State":"Do not store state","event.source":"nifi","event.ingest_ts":"${now():toNumber()}","kafka.topic":"data_cdr","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"kafka.key":"${session_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event_type":{"name":"event_type","displayName":"event_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"event.source":{"name":"event.source","displayName":"event.source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"event.ingest_ts":{"name":"event.ingest_ts","displayName":"event.ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"kafka.topic":{"name":"kafka.topic","displayName":"kafka.topic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kafka.key":{"name":"kafka.key","displayName":"kafka.key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f1-019c-1000-2c3f-96aeb5b6a943","instanceIdentifier":"f54e4c2c-878c-3ade-93bb-12f7cf8f42ce","name":"UpdateRecord","comments":"","position":{"x":27.728042154250716,"y":44.13607526929695},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"/filename":"${filename}","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","Replacement Value Strategy":"literal-value","/ingest_ts":"${event.ingest_ts}"},"propertyDescriptors":{"/filename":{"name":"/filename","displayName":"/filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"/ingest_ts":{"name":"/ingest_ts","displayName":"/ingest_ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f6-019c-1000-967f-fc374ce8ffe8","instanceIdentifier":"2e91fef3-d9df-30c9-e892-cfb720d11574","name":"ConvertRecord","comments":"","position":{"x":-540.2719578457493,"y":-387.86392473070305},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"74aeb7b0-e338-3666-946b-8b3779831f63","Record Reader":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"43015a3a-019c-1000-463d-320eeed6fe80","instanceIdentifier":"cf3b3833-32d3-3b28-939b-1a96ebff50c5","name":"GetSmsCdrsFile","comments":"","position":{"x":-1112.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"/opt/nifi/nifi-data/cdr_data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"sms.*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f2-019c-1000-26e3-45b80828a419","instanceIdentifier":"f0963582-2b64-33f6-b78e-0d51425cd027","name":"PutFile","comments":"","position":{"x":11.728042154250716,"y":260.13607526929695},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/log/${filename}-newpair.error","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f0-019c-1000-c005-3f68b7beacb1","instanceIdentifier":"1e814fe1-a441-3486-2f55-bc932eb0e55c","name":"PublishVoiceRecordToKafka","comments":"","position":{"x":768.0,"y":-80.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.1"},"properties":{"compression.type":"none","acks":"1","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":"nifi-cdr-tx-${hostname()}","Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"sms-bronze-cdr","Kafka Key":null,"partition":null,"Kafka Connection Service":"108d21df-692e-3da5-a508-72c0255c893c","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"32ae6ebe-e689-32e5-ae4f-b7fae5dc99d8","instanceIdentifier":"631bee1b-881d-32fb-7531-88c8d4b810e8","name":"","source":{"id":"43015a3a-019c-1000-463d-320eeed6fe80","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"GetSmsCdrsFile","comments":"","instanceIdentifier":"cf3b3833-32d3-3b28-939b-1a96ebff50c5"},"destination":{"id":"430126f6-019c-1000-967f-fc374ce8ffe8","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"ConvertRecord","comments":"","instanceIdentifier":"2e91fef3-d9df-30c9-e892-cfb720d11574"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126fd-019c-1000-95d5-ad12bf4ce509","instanceIdentifier":"2e4f5cba-4140-3975-4359-a12f39484429","name":"","source":{"id":"430126f1-019c-1000-2c3f-96aeb5b6a943","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateRecord","comments":"","instanceIdentifier":"f54e4c2c-878c-3ade-93bb-12f7cf8f42ce"},"destination":{"id":"430126f0-019c-1000-c005-3f68b7beacb1","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"1e814fe1-a441-3486-2f55-bc932eb0e55c"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126fb-019c-1000-27be-30195aa9a4ef","instanceIdentifier":"48324754-b768-3128-7b5f-42b56a930386","name":"","source":{"id":"430126f0-019c-1000-c005-3f68b7beacb1","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PublishVoiceRecordToKafka","comments":"","instanceIdentifier":"1e814fe1-a441-3486-2f55-bc932eb0e55c"},"destination":{"id":"430126f7-019c-1000-6c9b-61f81dd25374","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"e24a67b9-269e-39f2-7631-c7542c224554"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126fa-019c-1000-fc21-7cf0696a03e6","instanceIdentifier":"eb25e88c-e544-38ab-f398-c616433ff60d","name":"","source":{"id":"430126f6-019c-1000-967f-fc374ce8ffe8","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"ConvertRecord","comments":"","instanceIdentifier":"2e91fef3-d9df-30c9-e892-cfb720d11574"},"destination":{"id":"430126f3-019c-1000-691e-a0cdb1d941a5","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"ef5bf590-8a8b-3075-7d15-5edf9544f8ce"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"3fc54ce5-0787-36b9-8706-c2bb3410929c","instanceIdentifier":"0285f672-f4de-3476-e391-ea8c2c964202","name":"","source":{"id":"430126f5-019c-1000-fcab-79aef273706b","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateAttribute","comments":"","instanceIdentifier":"ecc07a6e-8efa-3646-1db2-252a7181e18a"},"destination":{"id":"430126f1-019c-1000-2c3f-96aeb5b6a943","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateRecord","comments":"","instanceIdentifier":"f54e4c2c-878c-3ade-93bb-12f7cf8f42ce"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"cfd2f5d2-bd3c-3c34-b92d-ff246cfc4986","instanceIdentifier":"181f268c-bf92-3441-7a99-f7ca1b8f2615","name":"","source":{"id":"430126f6-019c-1000-967f-fc374ce8ffe8","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"ConvertRecord","comments":"","instanceIdentifier":"2e91fef3-d9df-30c9-e892-cfb720d11574"},"destination":{"id":"430126ef-019c-1000-15c3-f54f1223b3ac","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"SplitRecord","comments":"","instanceIdentifier":"e4ee29b8-35d0-3be0-1da7-562ac3e457fe"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"4cbd996a-d099-3fdf-85d3-c14c22292975","instanceIdentifier":"1bc606cb-472a-3ec1-9fe3-30cb6ac71589","name":"","source":{"id":"430126f1-019c-1000-2c3f-96aeb5b6a943","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateRecord","comments":"","instanceIdentifier":"f54e4c2c-878c-3ade-93bb-12f7cf8f42ce"},"destination":{"id":"430126f2-019c-1000-26e3-45b80828a419","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"f0963582-2b64-33f6-b78e-0d51425cd027"},"labelIndex":0,"zIndex":17,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126fc-019c-1000-6f34-5e0e543b4be2","instanceIdentifier":"59accf8c-b863-3a19-258d-669846c592e7","name":"","source":{"id":"430126ef-019c-1000-15c3-f54f1223b3ac","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"SplitRecord","comments":"","instanceIdentifier":"e4ee29b8-35d0-3be0-1da7-562ac3e457fe"},"destination":{"id":"430126f8-019c-1000-f746-a78adc45bf29","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"PutFile","comments":"","instanceIdentifier":"5680ffcc-b901-361b-1eff-b432adda4835"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"},{"identifier":"430126f9-019c-1000-0935-844fcf11e157","instanceIdentifier":"64ab361c-f928-32ae-26d8-c4c9992c61d0","name":"","source":{"id":"430126ef-019c-1000-15c3-f54f1223b3ac","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"SplitRecord","comments":"","instanceIdentifier":"e4ee29b8-35d0-3be0-1da7-562ac3e457fe"},"destination":{"id":"430126f5-019c-1000-fcab-79aef273706b","type":"PROCESSOR","groupId":"2f05ef84-2f92-353c-9679-261f88d75a44","name":"UpdateAttribute","comments":"","instanceIdentifier":"ecc07a6e-8efa-3646-1db2-252a7181e18a"},"labelIndex":0,"zIndex":6,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f05ef84-2f92-353c-9679-261f88d75a44"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8cbd4eb9-cbc3-32c0-be34-dd3d949d2dc2","instanceIdentifier":"1c1e5576-2f5d-3b18-4d5a-c6b8722f8e0b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.1"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"},{"identifier":"74aeb7b0-e338-3666-946b-8b3779831f63","instanceIdentifier":"52b34922-eba1-31e7-4608-2dc8e1cd04b0","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.1"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-oneline","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss","Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"},{"identifier":"108d21df-692e-3da5-a508-72c0255c893c","instanceIdentifier":"6686d1e5-7d50-3356-d629-d580c76cc7b9","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.7.1"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"broker:29092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"},{"identifier":"6d452b0b-8c70-3263-9a3a-07f1bb90fffa","instanceIdentifier":"ff4823d2-5761-3609-2c0d-c399210dcec6","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.1"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss","Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"},{"identifier":"32a14b52-019c-1000-d298-5ba6c15826a6","instanceIdentifier":"c6227745-081a-32e3-a7b0-10d0a3748879","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.7.1"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":null,"Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.7.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5064f25b-2fdf-3e47-80b7-7acacf615975"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}